<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="color-header">celcom - activación</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list>
        <ion-item>
            <div class="align-right">
                <img src="../../assets/images/citomovil.png" width="60px" height="60px" />
                <br /><br />
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Tipo de acción</ion-label>
            <ion-select (ionChange)="changeAction()" interface="action-sheet" cancelText="Cancelar" [(ngModel)]="actionType">
                <ion-select-option value="4">Insertar</ion-select-option>
                <ion-select-option value="6">Eliminar</ion-select-option>
                <ion-select-option value="7">Desbloqueo</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Número del portero</ion-label>
            <ion-input (ionChange)="clearTokenField()" type="tel" class="floating" maxlength="10" class="item" [(ngModel)]="doormanNumber"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Número del residente</ion-label>
            <ion-input disabled="{{disabled_deviceNumber}}" (ionChange)="clearTokenField()" type="tel" class="floating" maxlength="10" class="item" [(ngModel)]="deviceNumber"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Ubicación</ion-label>
            <ion-input disabled="{{disabled_location}}" (ionChange)="clearTokenField()" type="tel" class="floating" maxlength="6" [(ngModel)]="location"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Alias</ion-label>
            <ion-input disabled="{{disabled_aliasName}}" (ionChange)="clearTokenField()" type="text" class="floating" maxlength="24" [(ngModel)]="aliasName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Número del emisor</ion-label>
            <ion-input (ionChange)="clearTokenField()" type="tel" class="floating" maxlength="10" class="item" [(ngModel)]="deviceFrom"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Caducidad</ion-label>
            <ion-input disabled="{{disabled_expiration}}" (ionChange)="clearTokenField()" type="tel" class="floating" maxlength="4" class="item" [(ngModel)]="expiration"></ion-input>
        </ion-item>

    </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="block" (click)="continue()">Guardar</ion-button>
            </ion-col>

            <ion-col>
                <ion-button expand="block" (click)="clear()">Limpiar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-textarea rows="5" class="token-class" [(ngModel)]="token" readonly></ion-textarea>

</ion-content>