ion-label {
    color: #dadada!important;
    font-weight: 300;
    font-size: 1rem!important;
}

.action-sheet-group {
    background: #e5e5e5;
}

.my-custom-class .action-sheet-group {
    background: #e5e5e5;
}

.align-right {
    margin-left: auto;
    display: block;
}

.color-header {
    color: white;
    font-size: 18px;
}

.item {
    color: white;
}

.action-sheet-group {
    background-color: #fff;
}

.token-class {
    font-size: small;
    color: #cecece;
    height: 30px;
}