<ion-header [translucent]="true">

</ion-header>

<!-- <ion-content [fullscreen]="true"> -->

<ion-content>
    <ion-slides pager="true">

        <ion-slide class="step-three">
            <img src="../../assets/images/citomovil.png" />
            <h2>Citomóvil - Go</h2>
            <div class="description-label1">A través de esta app le permitirá la habilitación de nuevos citófonos móviles de forma remota.</div>
            <br />
            <ion-button>Continuar</ion-button>
        </ion-slide>

        <ion-slide class="step-three">
            <ion-card class="custom-card">
                <img src="../../assets/images/citomovil.png" width="25px" height="25px" />
                <ion-card-header>
                    <ion-card-title class="header-text1">Activación</ion-card-title>
                </ion-card-header>
                <ion-card-content class="phone-text1">
                    <div>
                        <ion-label class="color-label" position="floating">Teléfono Maestro</ion-label>
                    </div>
                    <div>
                        <ion-input class="color-input" required type="tel" maxlength="10"></ion-input>
                    </div>
                    <br />
                    <div>
                        <ion-label class="color-label" position="floating">Citófono</ion-label>
                    </div>
                    <div>
                        <ion-input class="color-input" required type="tel" maxlength="10"></ion-input>
                    </div>

                </ion-card-content>
            </ion-card>

            <br />
            <ion-button>Registrar</ion-button>
        </ion-slide>
    </ion-slides>

</ion-content>